.body {
  background-color: rgb(245, 16, 28);
}
.chat {
  position: fixed;

  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
}
.title {
  position: sticky;
  top: -1px;
  padding: 20px;
  margin: 0px;
  text-align: center;
  background-color: aquamarine;
}
.container {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
}

.thumb {
  position: relative;
}
img.mama_goglit_nemozet {
  outline: 10px solid green;
  border-radius: 50px;
  height: 300px;
}
.thumb:not(:last-child) {
  margin-right: 20px;
}

.label {
  position: absolute;
  top: 18px;
  right: 12px;
  margin-top: 0px;
  width: 100px;
  justify-content: center;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: aquamarine;
  color: black;
  border: 1px;
  border-radius: 30px;
}
